@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

img {
  max-width: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--Light-gray);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1.25rem;
  height: 100vh;
}

.container {
  background-color: var(--White);
  border-radius: 1.8rem;
  padding: 1.25rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 7%;
  text-align: center;
}

.container img {
  border-radius: 1.8rem;
  margin-bottom: 1rem;
}

.container h1 {
  color: var(--Dark-blue);
  margin-bottom: 1rem;
}

.container p {
  color: var(--Grayish-blue);
  margin-bottom: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}
